* text=auto eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=2 linguist-detectable
docs/.vitepress/* linguist-detectable linguist-documentation

*.vue linguist-language=Vue
*.ts linguist-language=TypeScript
*.css linguist-language=CSS
*.html linguist-language=HTML
*.styl linguist-language=Stylus
